.App{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
.default{
    background-image: url("./images/hero.svg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
@media(min-width:1300px){
.body-part{
  width: 1100px;
  margin: auto;
}
}
.p{
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
font-family: Poppins;
font-size: 56px;
font-style: normal;
font-weight: 250;
line-height: 67.2px;
}
.text{
    font-weight: 50;
}
.custom-nav-dropdown .nav-link {
    color: white; 
  }

.custom-navbar {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  .custom-nav {
    display: flex;
    gap: 10px;
  }
  
  .custom-gap {
    margin-right: 40px;
  }
  
  .button-start{
    margin: auto;
  }

.search-icon{
    width: 40px;
    cursor: pointer;
  }

.imageweb{
  width: 40%;
}

.textweb{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.grid{
  margin-top: 50px;
}

.button-get{
  width: 120px;
  margin: auto;
  cursor: pointer;
}
.background1{
  background-image: url(./images/Frame\ 5.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 200px;
}

.background2{
  background-image: url(./images/Frame\ 6.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 200px;
}
.background3{
  background-image: url(./images/Frame\ 7.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 200px;
}

.background4{
  background-image: url(./images/Frame\ 7\ \(1\).svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 200px;
}
.background5{
  width: 500px;
  height: 410px;
}

.background6{
  background-image: url(./images/Frame\ 10.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 200px;
}

.background7{
  background-image: url(./images/Frame\ 11.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 200px;
}
.background8{
  background-image: url(./images/Frame\ 12.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 200px;
}

.background9{
  background-image: url(./images/Frame\ 13.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 200px;
}
.background5{
  width: 500px;
  height: 410px;
}

.grid-width{
  width: 90%;
  margin: auto;
}

.button-chat{
  cursor: pointer;
}
.bg{
  width: 450px;
  float: left;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-image{
  background-image: url(./images/bg-image.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 450px;
  height: 400px;
}

.bg-imageTwo{
  background-image: url(./images/bg-imageTwo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 450px;
  height: 400px;
}


.bg-card-image1{
  background-image: url(./images/card-image1.svg);
  width: 100%;
  height: 100%;
  background-size: contain;
}
.bg-card-image2{
  background-image: url(./images/card-image2.svg);
  width: 100%;
  height: 100%;
  background-size: contain;
}
.bg-card-image3{
  background-image: url(./images/card-image3.svg);
  width: 100%;
  height: 100%;
  background-size: contain;
}

.width-cards{
  max-width: 100%;
}

.card{
  width: 22rem;
  height: 100%;
}
@media(min-width:1200px){
  .card{
  width: 26rem;
}
}
.video{
  width: 480px;
}

.gap-image{
  gap: 160px;
}
@media(max-width:1100px){
  .gap-image{
    gap: 60px;
  }
}
.link{
  font-size: 14px;
}

.cardtwo{
  width: 36rem;
  height: 100%;
}

.checkcircle{
  width: 4rem;
  margin: auto;
}

.imagecard{
  margin-bottom: 50px;
}

.imagebutton{
  cursor: pointer;
}