.App{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
body{
  overflow-x: hidden;
}
.default{
  background-image: url("./images/hero.svg");
  height: 65vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -40px;
}
.Investor{
  background-image: url("./images/hero\ \(1\).svg");
  height: 40vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
}
.Contact{
  background-image: url("./images/hero\ \(2\).svg");
  height: 40vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.About{
  background-image: url("./images/hero\ \(3\).svg");
  height: 40vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
}
@media(min-width:1000px){
.body-part{
  width: 1000px;
  margin: auto;
  overflow: hidden;
}
}
.p{
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
font-family: Poppins;
font-size: 56px;
font-style: normal;
font-weight: 250;
line-height: 67.2px;
}
.text{
    font-weight: 10;
}
.custom-nav-dropdown .nav-link {
    color: white;
  }
.custom-nav-dropdown  .nav-link:hover{
    color: white;
  }
  .custom-nav-dropdown  .nav-link:focus{
    color: white;
  }

  .custom-nav-dropdown  .nav-link:active{
    color: white;
  }
.custom-navbar {
    display: flex;
    justify-content: space-between;
  }
  .custom-navbar:hover{
    background-color: black;
  }

  .custom-nav {
    display: flex;
    gap: 10px;
  }
  
  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust the z-index as needed */
  }
  
  .button-start{
    margin: auto;
  }

.search-icon{
    width: 40px;
    cursor: pointer;
  }

.imageweb{
  width: 40%;
}

.textweb{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.grid{
  margin-top: 50px;
}

.button-get{
  margin: auto;
  cursor: pointer;
}
.background1{
  background-image: url(./images/Frame\ 5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background2{
  background-image: url(./images/Frame\ 6.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.background3{
  background-image: url(./images/Frame\ 7.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background4{
  background-image: url(./images/Frame\ 7\ \(1\).svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.background5{
  width: 500px;
  height: 410px;
}

.background6{
  background-image: url(./images/Frame\ 10.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background7{
  background-image: url(./images/Frame\ 11.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.background8{
  background-image: url(./images/Frame\ 12.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background9{
  background-image: url(./images/Frame\ 13.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.background5{
  width: 540px;
  height: 410px;
}


.button-chat{
  cursor: pointer;
}
.bg{
  width: 450px;
  float: left;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-image{
  background-image: url(./images/bg-image.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 100%;
}

.bg-imageTwo{
  background-image: url(./images/bg-imageTwo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 100%;
}


.bg-card-image1{
  background-image: url(./images/card-image1.svg);
  width: 100%;
  height: 100%;
  background-size: contain;
}
.bg-card-image2{
  background-image: url(./images/card-image2.svg);
  width: 100%;
  height: 100%;
  background-size: contain;
}
.bg-card-image3{
  background-image: url(./images/card-image3.svg);
  width: 100%;
  height: 100%;
  background-size: contain;
}

.width-cards{
  max-width: 100%;
}

.card{
  width: 16rem;
  height: 100%;
}
@media(min-width:1200px){
  .card{
  width:22rem
}
}
.video{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.link{
  font-size: 14px;
}

.cardtwo{
  width: 30rem;
  height: 100%;
}

.checkcircle{
  width: 4rem;
  margin: auto;
}

.imagecard{
  margin-bottom: 50px;
}

.imagebutton{
  cursor: pointer;
}
.footer-link{
  cursor: pointer;
  text-decoration: none;
}
.footer-link:hover{
  text-decoration: underline;
  color: red;
  transition: all 0.3s ease;
}
.input{
  border: none;
}

.background-danger{
  background: url(./images/bg-danger.svg);
  background-size: cover;
}


.logo-image{
  width: 400px;
  margin: auto;
}

.FooterLinks{
  width: 24px;
  margin-left: -10px;
  cursor: pointer;
}

@media(max-width:900px){
  .flex{
    flex-wrap: wrap;
  }
  .blog-responsive{
    width: 400px;
    margin: auto;
  }
  .card-responsive{
    margin: auto;
    margin-top: 10px;
  }
  .imagesGrid-responsive{
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
  }
  .logo-image{
    width: 200px;
  }
  .navbar-responsive{
    opacity: 1;
  }
}
@media(max-width:1000px){
    .nav{
      opacity: 1;
      background-color: gray;
    }
    .nav-collapse{
      width: 300px;
    }
    .imagesGrid-responsive{
      display: block;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }
    .flex-break{
      display: flex;
      flex-direction: column;
}
.custom-navbar{
  background-color: black;
  z-index: 1000000;
}
.flex-breakresponsive{
  flex-wrap: wrap;
  gap: 20px;
}
.textweb{
  display: flex;
  flex-direction: column;
}
.grid-width{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.cardtwo{
  width: 20rem;
}
}
.bg-frame{
  background: url(./images/Frame\ 19.svg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}

@media(min-width:1200px){
  .bg-frame{
    width: 80%;
    background-size: cover;
    margin: auto;
    margin-top: 50px;
  }
}

.text-header{
  font-family: 'Poppins', sans-serif;
  line-height: 67.2px;
  font-weight: 60;
}
.Margin{
  margin-top: 600px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
  background: white;
}
.dropdown>.dropdown-menu li a:hover{
  border-bottom: 1px solid black;
  border-top:1px solid black;
  color: white;
  background: black;
  transition: all 0.3s ease-in-out;
}
.hover-color:hover{
  color: orange;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.text-guide{
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}


.chat-width{
  width: 300px;
  overflow: hidden;
}


.custom-navbar {
  position: sticky;
  top: 0;
  z-index: 100000;
}

/* Add a class for the sticky background if needed */
.bg-black {
  background-color: black;
}

.investor-button{
  margin-top: -10px;
  display: flex;
}



#video{
  position:fixed;
  z-index: -1;
  width: 100%;
}

.font-header{
  font-size: 56px;
}

.width-arrow{
  width: 60px;
  margin: auto;
}

